# OS
.DS_Store
Thumbs.db

# Frontend (Vue.js)
client/node_modules/
client/dist/
client/.env.local
client/.env.*.local

# Backend (Python/FastAPI)
**/__pycache__/
**/*.py[cod]
**/*$py.class
server/venv/
server/.env

# Database (SQLite)
server/*.db
server/*.db-journal

# Data (Public Data)
server/data/*.json
!server/data/sample.json

# IDE
.vscode/
.idea/